<nav class="site-nav">
  <ul class="navlist">
    <li class="nav-item genarrow arrows"><a href="#bottom" title="{L_BOTTOM}"><svg class="css-icon css-icon-arrow-down" aria-hidden="true" focusable="false"><use href="#icon-arrow-down"></use></svg></a></li>

    <li class="nav-item <!-- IF S_IS_INDEX -->is-active<!-- ENDIF -->"><a href="{U_INDEX}">{L_INDEX}</a></li>

    <!-- IF S_DISPLAY_SEARCH -->
    <li class="nav-item has-dropdown">
      <a class="dropdown-toggle" aria-expanded="false" href="javascript:void(0)">{L_SEARCH} <svg class="css-icon css-icon-caret-down" aria-hidden="true" focusable="false"><use href="#icon-caret-down"></use></svg></a>
      <ul class="sub-menu">
        <li><a href="{U_SEARCH}">{L_SEARCH_ADV}</a></li>
        <li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
        <li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
        <li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li>
        <li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
        <li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li>
      </ul> 
    </li>
    <!-- ENDIF -->

    <li class="nav-item has-dropdown <!-- IF S_IN_FAQ or S_IN_MEMBERLIST -->is-active<!-- ENDIF -->">
      <a class="dropdown-toggle" aria-expanded="false" href="javascript:void(0)">
        <!-- IF S_IN_FAQ -->{L_FAQ}<!-- ENDIF -->
        <!-- IF S_DISPLAY_MEMBERLIST and S_IN_MEMBERLIST -->{L_MEMBERLIST}<!-- ENDIF -->
        <!-- IF not S_IN_FAQ and not S_IN_MEMBERLIST -->{L_LINKS}<!-- ENDIF -->
        <svg class="css-icon css-icon-caret-down" aria-hidden="true" focusable="false"><use href="#icon-caret-down"></use></svg>
      </a>
      <ul class="sub-menu">
        <li><a href="{U_FAQ}"><svg class="css-icon css-icon-help" aria-hidden="true" focusable="false"><use href="#icon-help"></use></svg> {L_FAQ}</a></li>
        <!-- IF not S_IS_BOT -->
          <!-- IF S_DISPLAY_MEMBERLIST -->
          <li><a href="{U_MEMBERLIST}"><svg class="css-icon css-icon-users" aria-hidden="true" focusable="false"><use href="#icon-users"></use></svg> {L_MEMBERLIST}</a></li>
          <!-- ENDIF -->  
        <!-- ENDIF -->
      </ul>
    </li>

    <!-- IF not S_IS_BOT -->
      <!-- IF not S_USER_LOGGED_IN -->
      <li class="nav-item"><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></li>
      <!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
      <li class="nav-item"><a href="{U_REGISTER}">{L_REGISTER}</a></li>
      <!-- ENDIF -->
      <!-- ENDIF -->
    <!-- ENDIF -->

    <li class="nav-item has-dropdown nav-style">
      <a class="dropdown-toggle" aria-expanded="false" href="javascript:void(0)" title="{L_STYLE_LIGHT}"><svg class="css-icon css-icon-palette" aria-hidden="true" focusable="false"><use href="#icon-palette"></use></svg></a>
      <ul class="sub-menu style-sub-menu">
        <li><a href="javascript:void(0)" class="theme-choice" data-style-color="blue" data-theme-mode="light" title="{L_STYLE_LIGHT}"><span class="theme-swatch theme-swatch-blue-light"><span class="theme-swatch-center"></span></span></a></li>
        <li><a href="javascript:void(0)" class="theme-choice" data-style-color="blue" data-theme-mode="dark" title="{L_STYLE_DARK}"><span class="theme-swatch theme-swatch-blue-dark"><span class="theme-swatch-center"></span></span></a></li>
        <li><a href="javascript:void(0)" class="theme-choice" data-style-color="orange" data-theme-mode="light" title="{L_STYLE_LIGHT}"><span class="theme-swatch theme-swatch-orange-light"><span class="theme-swatch-center"></span></span></a></li>
        <li><a href="javascript:void(0)" class="theme-choice" data-style-color="orange" data-theme-mode="dark" title="{L_STYLE_DARK}"><span class="theme-swatch theme-swatch-orange-dark"><span class="theme-swatch-center"></span></span></a></li>
      </ul>
    </li>

    <!-- IF S_USER_LOGGED_IN and not S_IS_BOT -->
    <li class="nav-item has-dropdown nav-user">
      <a class="dropdown-toggle username uname" aria-expanded="false" href="javascript:void(0)">{S_USERNAME} <svg class="css-icon css-icon-caret-down" aria-hidden="true" focusable="false"><use href="#icon-caret-down"></use></svg></a>
      <ul class="sub-menu">
        <li><a href="{U_PROFILE}"><svg class="css-icon css-icon-user-gear" aria-hidden="true" focusable="false"><use href="#icon-user-gear"></use></svg> {L_PROFILE}</a></li>
        <!-- IF S_DISPLAY_SEARCH -->
        <li><a href="{U_SEARCH_SELF}"><svg class="css-icon css-icon-search" aria-hidden="true" focusable="false"><use href="#icon-search"></use></svg> {L_SEARCH_SELF}</a></li>
        <!-- ENDIF -->
        <!-- IF U_RESTORE_PERMISSIONS -->
        <li><a href="{U_RESTORE_PERMISSIONS}"><svg class="css-icon css-icon-restore" aria-hidden="true" focusable="false"><use href="#icon-restore"></use></svg> {L_RESTORE_PERMISSIONS}</a></li>
        <!-- ENDIF -->
        <!-- IF U_ACP -->
        <li><a href="{U_ACP}"><svg class="css-icon css-icon-gear" aria-hidden="true" focusable="false"><use href="#icon-gear"></use></svg> {L_ACP}</a></li>
        <!-- ENDIF -->
        <li><a href="{U_LOGIN_LOGOUT}"><svg class="css-icon css-icon-power" aria-hidden="true" focusable="false"><use href="#icon-power"></use></svg> {L_LOGIN_LOGOUT}</a></li>    
      </ul>
    </li>
    <!-- ENDIF -->

    <li class="nav-item genarrow arrows right-arrow"><a href="#bottom" title="{L_BOTTOM}"><svg class="css-icon css-icon-arrow-down" aria-hidden="true" focusable="false"><use href="#icon-arrow-down"></use></svg></a></li>
  </ul>
</nav>
