<a id="bottom"></a>
<div class="menu">
  <input type="checkbox" class="responsive-menu" onclick="updatemenu()"><label></label>
  <ul>
  	<li class="genarrow arrows" style="float: {S_CONTENT_FLOW_BEGIN};"><a href="#top" title="{L_BACK_TO_TOP}"><i class="fa-solid fa-arrow-up"></i></a></li>


	<!-- IF U_MCP -->
	<li><a href="{U_MCP}">{L_MCP}</a></li>
	<!-- ENDIF -->
	<!-- IF U_ACP -->
	<li><a href="{U_ACP}">{L_ACP}</a></li>
	<!-- ENDIF -->



  	<li class="genarrow arrows right-arrow"><a href="#top" title="{L_BACK_TO_TOP}"><i class="fa-solid fa-arrow-up"></i></a></li>
  </ul>
  <li class="genarrow sm-right-arrow"><a href="#top" title="{L_TOP}"><i class="fa-solid fa-arrow-up"></i></a></li>
</div>