.lightstyle { display:none; }
.darkstyle { display:block !important; }

/* nav menu */
.menue {
	background: #2E3539;
	height: 45px;
	padding-left: 18px;
	border-radius: 1px;
}
.menue ul, .menue li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
.menue ul {
	width: 100%;
	text-align: left;
}
.menue li {
	display: inline-block;
	position: relative;
}
.menue a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
.menue a.dropdown-arrow:after {
	content: "\25BF";
	margin-left: 5px;
}
.menue li a:hover {
	color: #43A6DF;
	background: #494C4D;
}
.menue input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
.menue label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
.menue label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
.menue ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 200px;
	background: #E9E9EF;
	position: absolute;
	z-index: 99;
	display: none;
}
.menue ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
.menue ul.sub-menus a {
	color: #444444;
	font-size: 16px;
}
.menue li:hover ul.sub-menus {
	display: block
}
.menue ul.sub-menus a:hover{
	background: #5A5A5A;
	color: #FFFFFF;
}
div.buttons, div.buttons div.locked-icon, div.buttons div.post-icon, div.buttons div.reply-icon, div.buttons div.upload-icon, div.buttons div.qreply-icon, .postbody ul.profile-icons li.edit-icon, .postbody ul.profile-icons li.quote-icon, ul.profile-icons li.pm-icon {
	background : none 0 0 no-repeat transparent;
	padding : 0;
	margin : 0;
	height : 0;
}

.reply-icon span, .upload-icon, .post-icon span, .locked-icon span, .pmreply-icon span, .newpm-icon span, .forwardpm-icon span, .qreply-icon .edit-icon, .quote-icon, .pm-icon {
	background : none 0 0 no-repeat transparent;
}

div.buttons {
	float : left;
	width : auto;
	height : auto;
}

div.buttons div.locked-icon a, div.buttons div.post-icon a, div.buttons div.reply-icon a, div.buttons div.upload-icon a, div.buttons div.qreply-icon a, .postbody ul.profile-icons li.edit-icon a, .postbody ul.profile-icons li.quote-icon a, div.buttons div.pmreply-icon a, div.buttons div.newpm-icon a, div.buttons div.forwardpm-icon a {
	color : #BC2A4D;
	text-decoration : none;
	display : inline-block;
}

div.buttons div.locked-icon, div.buttons div.post-icon, div.buttons div.reply-icon, div.buttons div.upload-icon, div.buttons div.qreply-icon, div.buttons div.pmreply-icon, div.buttons div.newpm-icon, div.buttons div.forwardpm-icon {
	border : #C4C1BD solid 1px;
	border-radius : 4px;
	font-size : 12px;
	font-family : helvetica, sans-serif;
	margin : 0 4px;
	padding : 0 8px 0 8px;
	text-transform : uppercase;
	text-decoration : none;
	display : inline-block;
	font-weight : 600;
	line-height : 2.2em;
	width : auto;
	height : 25px;
	white-space : nowrap;
	background-color : #FBFBFB;
	background-image : linear-gradient(to bottom, #FBFBFB, #E6E6E6);
}

div.buttons div.locked-icon:hover, div.buttons div.post-icon:hover, div.buttons div.reply-icon:hover, div.buttons div.upload-icon:hover, div.buttons div.qreply-icon:hover, div.buttons div.pmreply-icon:hover, div.buttons div.newpm-icon:hover, div.buttons div.forwardpm-icon:hover {
	border : #4386CC solid 1px;
	background-color : #E6E6E6;
	text-decoration : none;
	background-image : linear-gradient(to bottom, #E6E6E6, #FBFBFB);
}
@media screen and (max-width: 800px){
	.menue {position:relative}
	.menue ul {background:#E9E9EF;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	.menue ul.sub-menus {width:100%;position:static;}
	.menue ul.sub-menus a {padding-left:30px;}
	.menue li {display:block;float:none;width:auto;}
	.menue input, .menue label {position:absolute;top:0;left:0;display:block}
	.menue input {z-index:4}
	.menue input:checked + label {color:#FFFFFF}
	.menue input:checked + label:before {content:"\00d7"}
	.menue input:checked ~ ul {display:block}
}

.activetab a {
	color: #2598DA !important;
	background: #494C4D;	
}

.uname {
	color: #DA2E2B !important;
}
	
.img-span {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h6 {
	display : inline-block;
	font-size : 12px;
	font-family : helvetica, sans-serif;
	font-weight : 800;
}

h6, h6:hover {
	font-weight : 800;
}

.badge {
	background-color: #06B0F3;
	color: #ffffff;	
	border-radius: 10px;
	opacity: 0.8;
	text-align: center;
	white-space: nowrap;
	font-size: 10px;
	line-height: 1;
	display: inline-block;
	margin-left: 3px;
	vertical-align: 3px;
	position: relative;
	top: 3px;
	padding: 4px 6px;
}

.badge.hidden {
	display: none;
}





.rb { 
	font-size: 1.5em;
    border: 4px solid #DCE0D8;
    border-radius: 8px;
    background:#F5F1EE;
	padding:1em;
}

.column_resp p, .column_rev p, .column_home p {
	margin: 6px;
}

 /* For mobile phones: */

.row_resp, .row_rev, .row_home {
	display:flex;
	flex-wrap: wrap;
}

 [class*="column_"] {
    width: 100%;
 }


@media only screen and (min-width: 768px) {
	.column_resp, .column_home {
		width: 47%;
		margin: 2px;
	}

	.column_chat {
		width: 67%;
		margin: 2px;
	}

	.column_cal {
		width: 32%;
		margin: 2px;
	}	
	.column_rev {
		width: 23%;
		margin: .5em;
	}
}