<!-- INCLUDE simple_header.html -->

<br clear="all" />

<!-- MSNM info from http://www.cdolive.net/ - doesn't seem to work with MSN Messenger -->

<form method="post" action="{S_IM_ACTION}">
	<table class="tablebg" width="95%" cellspacing="1" cellpadding="4" border="0" align="center">
	<tr>
		<th colspan="2">{L_SEND_IM}</th>
	</tr>
	<tr>
		<td class="row3" colspan="2"><span class="gensmall">{L_SEND_IM_EXPLAIN}</span></td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_IM_RECIPIENT}: </b></td>
		<td class="row2"><span class="gen"><b>{USERNAME}</b><!-- IF S_SEND_ICQ or S_SEND_AIM or S_SEND_MSNM or S_NO_SEND_JABBER --> [ {IM_CONTACT} ]<!-- ENDIF --></span> <!-- IF PRESENCE_IMG -->{PRESENCE_IMG}<!-- ENDIF --></td>
	</tr>

	<!-- IF S_SEND_AIM -->
		<tr>
			<td class="row1" colspan="2" align="center"><br /><a class="gen" href="{U_AIM_CONTACT}">{L_IM_ADD_CONTACT}</a><br /><a class="gen" href="{U_AIM_MESSAGE}">{L_IM_SEND_MESSAGE}</a><br /><br /><a class="gensmall" href="http://www.aim.com">{L_IM_DOWNLOAD_APP}</a> | <a class="gensmall" href="http://www.aim.com/products/express">{L_IM_AIM_EXPRESS}</a> </td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">&nbsp;</td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SEND_MSNM -->
		<tr>
			<td class="row1" colspan="2" align="center">
				<object classid="clsid:B69003B3-C55E-4B48-836C-BC5946FC3B28" codetype="application/x-oleobject" id="objMessengerApp" width="0" height="0"></object>
				<script type="text/javascript">
				// <![CDATA[
					var app = document.getElementById('objMessengerApp');
						
					/**
					* Check whether the browser supports this and whether MSNM is connected
					*/
					function msn_supported()
					{
						// Does the browser support the MSNM object?
						if (app.MyStatus) 
						{
							// Is MSNM connected?
							if (app.MyStatus == 1)
							{
								alert('{LA_IM_MSNM_CONNECT}');
								return false;
							}
						}
						else
						{
							alert('{LA_IM_MSNM_BROWSER}');
							return false;
						}
						return true;
					}

					/**
					* Add to your contact list
					*/
					function add_contact(address)
					{
						if (msn_supported())
						{
							// Could return an error while MSNM is connecting, don't want that
							try
							{
								app.AddContact(0, address);
							}
							catch (e)
							{
								return;
							}
						}
					}

					/**
					* Write IM to contact
					*/
					function im_contact(address)
					{
						if (msn_supported())
						{
							// Could return an error while MSNM is connecting, don't want that
							try
							{
								app.InstantMessage(address);
							}
							catch (e)
							{
								return;
							}
						}
					}
				// ]]>
				</script>
	
				<a class="gen" href="#" onclick="add_contact('{A_IM_CONTACT}'); return false;">{L_IM_ADD_CONTACT}</a><br /><a class="gen" href="#" onclick="im_contact('{A_IM_CONTACT}'); return false;">{L_IM_SEND_MESSAGE}</a>
			</td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">&nbsp;</td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SEND_JABBER -->
		<tr>
			<td class="row1"><b class="genmed">{L_IM_MESSAGE}: </b></td>
			<td class="row2"><textarea class="post" name="message" rows="5" cols="45"></textarea></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center"><input class="btnmain" name="submit" type="submit" value="{L_IM_SEND}" /></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_NO_SEND_JABBER -->
		<tr>
			<td class="row1" colspan="2"><span class="genmed">{L_IM_NO_JABBER}</span></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SENT_JABBER -->
		<tr>
			<td class="row1" colspan="2" align="center"><span class="gen">{L_IM_SENT_JABBER}</span></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center"></td>
		</tr>
	<!-- ENDIF -->

	<!-- Additional messengers and social services (subsilver2 style rows) -->

	<!-- Facebook -->
	<!-- IF U_FB or USER_FB -->
		<tr>
			<td class="row1"><b class="genmed">{L_FB}: </b></td>
			<td class="row2"><!-- IF U_FB --><a href="{U_FB}" onclick="popup(this.href, 780, 550); return false">{FB_IMG}</a><!-- ELSE -->{USER_FB}<!-- ENDIF --></td>
		</tr>
	<!-- ENDIF -->

	<!-- Instagram -->
	<!-- IF U_IG or USER_IG -->
		<tr>
			<td class="row1"><b class="genmed">{L_IG}: </b></td>
			<td class="row2"><!-- IF U_IG --><a href="{U_IG}" onclick="popup(this.href, 780, 550); return false">{IG_IMG}</a><!-- ELSE -->{USER_IG}<!-- ENDIF --></td>
		</tr>
	<!-- ENDIF -->

	<!-- Pinterest -->
	<!-- IF U_PT or USER_PT -->
		<tr>
			<td class="row1"><b class="genmed">{L_PT}: </b></td>
			<td class="row2"><!-- IF U_PT --><a href="{U_PT}" onclick="popup(this.href, 780, 550); return false">{PT_IMG}</a><!-- ELSE -->{USER_PT}<!-- ENDIF --></td>
		</tr>
	<!-- ENDIF -->

	<!-- Twitter -->
	<!-- IF U_TWR or USER_TWR -->
		<tr>
			<td class="row1"><b class="genmed">{L_TWR}: </b></td>
			<td class="row2"><!-- IF U_TWR --><a href="{U_TWR}" onclick="popup(this.href, 780, 550); return false">{TWR_IMG}</a><!-- ELSE -->{USER_TWR}<!-- ENDIF --></td>
		</tr>
	<!-- ENDIF -->

	<!-- Skype -->
	<!-- IF U_SKP or USER_SKP -->
		<tr>
			<td class="row1"><b class="genmed">{L_SKP}: </b></td>
			<td class="row2"><!-- IF U_SKP --><a href="{U_SKP}" onclick="popup(this.href, 780, 550); return false">{SKP_IMG}</a><!-- ELSE -->{USER_SKP}<!-- ENDIF --></td>
		</tr>
	<!-- ENDIF -->

	<!-- Telegram -->
	<!-- IF U_TG or USER_TG -->
		<tr>
			<td class="row1"><b class="genmed">{L_TG}: </b></td>
			<td class="row2"><!-- IF U_TG --><a href="{U_TG}" onclick="popup(this.href, 780, 550); return false">{TG_IMG}</a><!-- ELSE -->{USER_TG}<!-- ENDIF --></td>
		</tr>
	<!-- ENDIF -->

	<!-- LinkedIn -->
	<!-- IF U_LI or USER_LI -->
		<tr>
			<td class="row1"><b class="genmed">{L_LI}: </b></td>
			<td class="row2"><!-- IF U_LI --><a href="{U_LI}" onclick="popup(this.href, 780, 550); return false">{LI_IMG}</a><!-- ELSE -->{USER_LI}<!-- ENDIF --></td>
		</tr>
	<!-- ENDIF -->

	<!-- TikTok -->
	<!-- IF U_TT or USER_TT -->
		<tr>
			<td class="row1"><b class="genmed">{L_TT}: </b></td>
			<td class="row2"><!-- IF U_TT --><a href="{U_TT}" onclick="popup(this.href, 780, 550); return false">{TT_IMG}</a><!-- ELSE -->{USER_TT}<!-- ENDIF --></td>
		</tr>
	<!-- ENDIF -->

	<!-- Discord -->
	<!-- IF U_DC or USER_DC -->
		<tr>
			<td class="row1"><b class="genmed">{L_DC}: </b></td>
			<td class="row2"><!-- IF U_DC --><a href="{U_DC}" onclick="popup(this.href, 780, 550); return false">{DC_IMG}</a><!-- ELSE -->{USER_DC}<!-- ENDIF --></td>
		</tr>
	<!-- ENDIF -->

	</table>
{S_FORM_TOKEN}
</form>

<a class="nav" href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>

<!-- INCLUDE simple_footer.html -->

